html{
  min-height: 100vh;
  color: #212529;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: calc(100vh - 180px);
}

.footer {
  height: 50px;
}

ul{
  width:170px;
}

li{
  list-style: none;
}

a{
  color: inherit;
}

.container{
  height: 100%;
}

.main-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  padding:30px 0;
}

.card{
  width:262.67px;
}

.card-text{
  height: 72px;
  overflow: hidden;
}

.header-nav{
  display: none;
}

.nav-item{
  margin: 0 15px;
}

.li:hover{
  color: rgb(190, 105, 190);
  text-decoration: none;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

/*image*/
.img{
  width: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
}


/*Dropdown*/

.dropdown {
  position: relative;
  display: inline-block;
  width:150px;
}
.drop-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top:45px;
  right:0px;
  width: 150px;
  background-color: white;
  font-weight:bold;
  position: absolute;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.drop-li a {
  color: #000;
  text-decoration: none;
}
.drop-li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}
.drop-li:last-child {
  border-bottom: none;
}
.drop-li:hover {
  background-color: #e5e5e5;
  color: white;
}
.button{
  width:150px;
  height:25px;
  background-color:tomato ;
  border-radius:5px;
  font-weight:bold;
  color:white;
}
.button:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right:6px;
  top:8px;
}

/*Media queries*/

@media (min-width : 768px){

  .child-container{
    max-width:90%;
  }

  nav{
    margin-left: 10%;
    margin-right: 10%;
  }

  .dropdown{
    display: none;
  }

  .header-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}